.App {
  text-align: center;
  background-color: white;
}

.button {
  background-color: white; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}

/*
CONTENT PAGE
*/
.content {
  padding: 200px 350px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  font-size: 1.5vw;
}

div .contentText{
  font-size: 4vw;
  line-height: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
s
div .contentPara{
  font-size: 1vw;
  position: relative; top: 25px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.header{
  padding: 15px;
  text-align: right;
  background: white;
  color: black;
  font-size: 1vw;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.image{
  position: absolute;
  width: 7%;
  top: 0.05vw;
  left: 0.1vw;
}

.corner{
  padding: 1vw 1vw;
}

